 :root {
    --color-primary: #3F597A;
    --color-secondary: #93B8D0;
    --color-tertiary: #D7EFF0;
    --color-accent: #E4664E;
    --color-dark: #2C3341;
}

body {
    background-color: var(--color-tertiary);
    color: var(--color-dark);
}

header {
    background-color: var(--color-primary);
}

nav {
    background-color: var(--color-primary);
}

footer {
    background-color: var(--color-primary);
}

.card {
    border: 1px solid var(--color-secondary);
}

.card-title {
    color: var(--color-dark);
}

.btn-primary {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.btn-primary:hover {
    background-color: darken(var(--color-accent), 10%);
    border-color: darken(var(--color-accent), 10%);
}

.img-fluid {
    border: 2px solid var(--color-secondary);
}

.kegiatan-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#visi-misi {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#visi-misi h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#visi-misi h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#visi-misi p {
    font-size: 1rem;
    line-height: 1.6;
}

#visi-misi ul {
    list-style-type: disc;
    padding-left: 20px;
}

#visi-misi ul li {
    margin-bottom: 10px;
}
